ESTS1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ESTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="role" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Users">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="login" type="xs:string" />
                    <xs:element name="password" type="xs:string" />
                    <xs:element name="Nom" type="xs:string" />
                    <xs:element name="Prenom" type="xs:string" />
                    <xs:element name="id_Roles" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="permission" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Groupes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="groupe" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                      <xs:attribute name="numero" type="xs:integer" use="required" />
                      <xs:attribute name="id_Filieres" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Departements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="departement" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Filieres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="filiere" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                  <xs:attribute name="id_Departements" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Niveaux">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="niveau" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Etudiants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="etudiant" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                  <xs:attribute name="id_Groupes" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Seances">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="seance" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="duree" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                  <xs:attribute name="numero" type="xs:integer" use="required" />
                  <xs:attribute name="jour" type="xs:integer" use="required" />
                  <xs:attribute name="semaine" type="xs:integer" use="required" />
                  <xs:attribute name="semestre" type="xs:integer" use="required" />
                  <xs:attribute name="id_Matieres" type="xs:integer" use="required" />
                  <xs:attribute name="id_Groupes" type="xs:integer" use="required" />
                  <xs:attribute name="enregistre" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Matieres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="matiere" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                  <xs:attribute name="id_module" type="xs:integer" use="required" />
                  <xs:attribute name="id_Filieres" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Semestres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="semestre" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="module" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:integer" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="roles_permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="role_permission" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id_Permissions" type="xs:integer" use="required" />
                  <xs:attribute name="id_Roles" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="filieres_niveaux">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="filiere_niveau" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id_Filieres" type="xs:integer" use="required" />
                  <xs:attribute name="id_Niveaux" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="access">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_matiere" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="login_user" use="required" />
                  <xs:attribute name="id_Matieres" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="abscences">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="abscence" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id_Etudiants" type="xs:integer" use="required" />
                  <xs:attribute name="id_Seances" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>